/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-box {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 5vh;
    border: 1px solid rgb(127, 127, 209);
    width: 20vw;
    padding: 16px;
    border-radius: 12px;
}

.activeElm {
    color: red;
}

.todo-div {
    display: flex;
    align-items: flex-start;
    max-width: fit-content;
}